<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %} <title>MAIN</title> {% endblock %}
</head>
<body>
<section class="wrap"> <!-- header -->
    <header id="header">
        <div class="inner">
            <h1 class="logo">
                <a href="{% url 'project:index' %}">logo</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'project:index' %}">프로젝트</a></li>
                    <li><a href="{% url 'blog:index' %}">블로그</a></li>
                </ul>
            </nav>
        </div>
    </header> <!-- end header -->
    {% block content %} {% endblock %}
</section>
{% load static %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
